<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2> You have been Tagged in An article by <%= @article.user.username %></h2>
    <h5 id="email-title">Title: </h5>    
    <h3><%= @article.title %></h3>
    <h5 id="email-title">Description</h5>
    <h3><%= @article.description %></h3>
    <h4>Have a great day!</h4>
  </body>
</html>