<h1 align="center">Tagged Articles</h1>
<div class="flickr_pagination" align="center">
     <%= will_paginate @tagged_articles%>
</div>
<%= render 'article', obj: @tagged_articles %>
<div class="flickr_pagination" align="center">
     <%= will_paginate @tagged_articles%>
</div>